<button id="stripe-button">Buy the tickets for: {{ total }}$)</button>
{% for data in events %}
  <div class="main-block">
    {{ data.description | raw }}
    <img src="{{ file_url(data.image_url) }}" alt="{{ data.image_alt }}">
    <div class="current_cart_tickets">
      {{ data.ordered_tickets_quantity }}{{ data.ordered_tickets_quantity_text }}
    </div>
  </div>
{% endfor %}
